#!/bin/sh

# https://apple.stackexchange.com/questions/287760/set-the-hostname-computer-name-for-macos

echo "configuring hostname…"
sudo scutil --set HostName {{ .fqdn }}
sudo scutil --set LocalHostName {{ .hostname }}
sudo scutil --set ComputerName {{ .hostname }}
dscacheutil -flushcache
echo "…configured hostname"
