<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame alfredprefswindow</key>
	<string>158 152 1100 662 0 0 1920 1177 </string>
	<key>lastTab</key>
	<string>general</string>
	<key>lastTabBuild</key>
	<string>425</string>
	<key>lastTabTS</key>
	<real>473453792.94003803</real>
	<key>version</key>
	<string>2.8.1</string>
</dict>
</plist>
