<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.danielbayerlein.rubygems</string>
	<key>connections</key>
	<dict>
		<key>AAA624F8-E43F-4EE2-AE1A-8334D8F3ED13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F266A4BA-A6F0-480A-B08C-B4390705433E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Bayerlein</string>
	<key>description</key>
	<string>Search gems</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RubyGems</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F266A4BA-A6F0-480A-B08C-B4390705433E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gem</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching '{query}' gem…</string>
				<key>script</key>
				<string>source $HOME/.zshrc
chruby 2.4.1
ruby ./doit.rb '{query}'
</string>
				<key>subtext</key>
				<string>Search gems…</string>
				<key>title</key>
				<string>Search RubyGems.org for '{query}'</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AAA624F8-E43F-4EE2-AE1A-8334D8F3ED13</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>AAA624F8-E43F-4EE2-AE1A-8334D8F3ED13</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F266A4BA-A6F0-480A-B08C-B4390705433E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/danielbayerlein</string>
</dict>
</plist>
