<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>3F6FA1B2-7CB8-41F4-9876-FDD95802AF0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7C05BB7-404D-4309-9B7A-AB9C8C7B14AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F93DF11-E4E8-4C8C-B3F8-ED3521E9C7DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55002F0C-FE5A-48C4-9783-4762F9332291</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6FE8AC3D-B469-437B-9BDC-3DEA600D15A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F93DF11-E4E8-4C8C-B3F8-ED3521E9C7DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F7C05BB7-404D-4309-9B7A-AB9C8C7B14AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55002F0C-FE5A-48C4-9783-4762F9332291</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>track</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>track</string>
				<key>text</key>
				<string>track</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6FE8AC3D-B469-437B-9BDC-3DEA600D15A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>track</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>55002F0C-FE5A-48C4-9783-4762F9332291</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source $HOME/.zshrc
chruby 2.4.1
track {query}
</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F93DF11-E4E8-4C8C-B3F8-ED3521E9C7DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ts</string>
				<key>subtext</key>
				<string>ts</string>
				<key>text</key>
				<string>track start</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3F6FA1B2-7CB8-41F4-9876-FDD95802AF0C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source $HOME/.zshrc
chruby 2.4.1
track start {query}
</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7C05BB7-404D-4309-9B7A-AB9C8C7B14AA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3F6FA1B2-7CB8-41F4-9876-FDD95802AF0C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4F93DF11-E4E8-4C8C-B3F8-ED3521E9C7DC</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>55002F0C-FE5A-48C4-9783-4762F9332291</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>6FE8AC3D-B469-437B-9BDC-3DEA600D15A3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F7C05BB7-404D-4309-9B7A-AB9C8C7B14AA</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
