<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2EF48C7E-E9DD-4578-A2BB-F6762A6AF6A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C941F75-737C-4C73-9C85-9605E55DE2C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77A10BB1-6F4E-4614-A5E3-7F1D2F55FE27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBC04383-8CD1-4227-9D4B-4BBDBB0FDD4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>80821A63-3CED-4403-9AC2-F026BBE32517</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53FE15BD-62C9-4FCC-AD75-C1CD2F5A592A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open stuff</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/atom ~/Documents

# cd ~/Documents &amp;&amp; /usr/local/bin/mvim
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C941F75-737C-4C73-9C85-9605E55DE2C1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>text</key>
				<string>Open docs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2EF48C7E-E9DD-4578-A2BB-F6762A6AF6A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>seafiles</string>
				<key>text</key>
				<string>seafiles</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>80821A63-3CED-4403-9AC2-F026BBE32517</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/subl "~/Seafile/Meine Bibliothek"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53FE15BD-62C9-4FCC-AD75-C1CD2F5A592A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>atom</string>
				<key>text</key>
				<string>Open a new Atom window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77A10BB1-6F4E-4614-A5E3-7F1D2F55FE27</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/atom --new-window</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DBC04383-8CD1-4227-9D4B-4BBDBB0FDD4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2EF48C7E-E9DD-4578-A2BB-F6762A6AF6A1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>53FE15BD-62C9-4FCC-AD75-C1CD2F5A592A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>77A10BB1-6F4E-4614-A5E3-7F1D2F55FE27</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>80821A63-3CED-4403-9AC2-F026BBE32517</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8C941F75-737C-4C73-9C85-9605E55DE2C1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DBC04383-8CD1-4227-9D4B-4BBDBB0FDD4D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
