"*":
  "base16-syntax":
    scheme: "3024"
  core:
    disabledPackages: [
      "metrics"
      "nuclide"
      "teletype"
      "textile-preview"
      "language-clojure"
      "language-c"
      "language-csharp"
      "language-go"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-toml"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  "custom-invisibles":
    eolActive: false
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "e79ffb05-c079-c2d6-62c0-e113a8bb0a9c"
  "export-html":
    lineNumber: {}
  "fuzzy-finder":
    ignoredNames: [
      "vendor/bundle/**/*"
    ]
  "git-diff":
    showIconsInEditorGutter: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pdf-view":
    fitToWidthOnOpen: true
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "ruby-block":
    highlightLineNumber: true
  "spell-check":
    locales: [
      "de-DE"
    ]
  welcome:
    showOnStartup: false
