"*":
  "base16-syntax":
    scheme: "3024"
  core:
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "metrics"
      "nuclide"
      "teletype"
      "textile-preview"
      "language-clojure"
      "language-c"
      "language-csharp"
      "language-go"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-toml"
      "terminal-tab"
      "autocomplete-ruby"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  "custom-invisibles":
    eolActive: false
  editor:
    fontSize: 13
    invisibles:
      eol: " "
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "e79ffb05-c079-c2d6-62c0-e113a8bb0a9c"
  "export-html":
    lineNumber: {}
  "fuzzy-finder":
    ignoredNames: [
      "vendor/bundle/**/*"
    ]
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "linter-ui-default":
    panelHeight: 276
  minimap:
    absoluteMode: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pdf-view":
    fitToWidthOnOpen: true
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "ruby-block":
    highlightLineNumber: true
  "spell-check":
    locales: [
      "de-DE"
    ]
  "todo-show":
    autoRefresh: false
    findTheseTodos: [
      "TODO Prio 2"
      "TODO"
      "FIXME"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "NB"
      "BUG"
      "QUESTION"
      "COMBAK"
      "TEMP"
    ]
    sortBy: "Type"
  welcome:
    showOnStartup: false
