packages: [
  "atom-beautify"
  "autocomplete-ruby"
  "busy-signal"
  "click-link"
  "custom-invisibles"
  "export-html"
  "file-icons"
  "git-diff-details"
  "highlight-selected"
  "intentions"
  "language-gherkin"
  "language-haml"
  "language-haskell"
  "language-lua"
  "language-slim"
  "language-textile"
  "linter"
  "linter-rubocop"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-hide"
  "minimap-highlight-selected"
  "minimap-linter"
  "multi-cursor"
  "nuclide"
  "organized"
  "package-sync"
  "pdf-view"
  "remote-atom"
  "ruby-block"
  "ruby-block-converter"
  "teletype"
  "terminal-tab"
  "textile-preview"
  "todo-show"
  "toggle-quotes"
  "tree-view-git-status"
]
