packages: [
  "atom-beautify"
  "atom-terminal-tab"
  "busy-signal"
  "click-link"
  "export-html"
  "file-icons"
  "git-diff-details"
  "intentions"
  "language-haml"
  "language-haskell"
  "language-textile"
  "linter"
  "linter-rubocop"
  "linter-ui-default"
  "merge-conflicts"
  "multi-cursor"
  "nuclide"
  "package-sync"
  "pdf-view"
  "remote-atom"
  "ruby-block"
  "ruby-block-converter"
  "teletype"
  "textile-preview"
  "tree-view-git-status"
]
